* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: 100%;
}

*:focus {
  outline-width: 0;
}

html, body {
  margin: 0 auto;
  padding: 0;
  font-family: monospace;
  font-size: 100%;
  letter-spacing: 1px;
  height: 100%;
  line-height: 1.4;
  -webkit-overflow-scrolling: touch;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
}

p {
  margin-top: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

button {
  cursor: pointer;
}

input {
  -webkit-appearance: none;
}
#body {
  margin-top: 10px;
  margin-bottom: 10px;
}

#identities {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}body {
  padding: 30px;
}

.error {
  color: #FAA;
}
.hidden {
  display: none;
}